<web-app>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>vkaretko.servlets.DeleteUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>vkaretko.servlets.UpdateUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>vkaretko.servlets.CreateUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/users</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>