<web-app>
    <servlet>
        <servlet-name>UserDBServlet</servlet-name>
        <servlet-class>vkaretko.servlets.UserDBServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserDBServlet</servlet-name>
        <url-pattern>/userdb</url-pattern>
    </servlet-mapping>
</web-app>