<web-app>
    <servlet>
        <servlet-name>GetOrdersController</servlet-name>
        <servlet-class>vkaretko.servlets.GetOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrdersController</servlet-name>
        <url-pattern>/getOrders</url-pattern>
    </servlet-mapping>
</web-app>