<web-app>
    <servlet>
        <servlet-name>GetOrdersController</servlet-name>
        <servlet-class>vkaretko.servlets.GetOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrdersController</servlet-name>
        <url-pattern>/getOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserController</servlet-name>
        <servlet-class>vkaretko.servlets.GetUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserController</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetUserController</servlet-name>
        <servlet-class>vkaretko.servlets.SetUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetUserController</servlet-name>
        <url-pattern>/setUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBrandController</servlet-name>
        <servlet-class>vkaretko.servlets.GetBrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBrandController</servlet-name>
        <url-pattern>/getBrands</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetModelController</servlet-name>
        <servlet-class>vkaretko.servlets.GetModelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetModelController</servlet-name>
        <url-pattern>/getModels</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCarBodyController</servlet-name>
        <servlet-class>vkaretko.servlets.GetCarBodyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCarBodyController</servlet-name>
        <url-pattern>/getBodies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetEngineController</servlet-name>
        <servlet-class>vkaretko.servlets.GetEngineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEngineController</servlet-name>
        <url-pattern>/getEngines</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTransmissionController</servlet-name>
        <servlet-class>vkaretko.servlets.GetTransmissionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTransmissionController</servlet-name>
        <url-pattern>/getTransmissions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>vkaretko.servlets.AddOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetDriveController</servlet-name>
        <servlet-class>vkaretko.servlets.GetDriveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDriveController</servlet-name>
        <url-pattern>/getDrives</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateSoldStatusController</servlet-name>
        <servlet-class>vkaretko.servlets.UpdateSoldStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSoldStatusController</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>

</web-app>