<web-app>
    <servlet>
        <servlet-name>TrackerController</servlet-name>
        <servlet-class>vkaretko.servlets.TrackerController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TrackerController</servlet-name>
        <url-pattern>/getItems</url-pattern>
    </servlet-mapping>
</web-app>